<!-- templates/about/tech.html -->
{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
  <div class="row">
    <h3>Вот что я умею</h3>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python
        </li>
        <li class="list-group-item">
          Django
        </li>
        <li class="list-group-item">
          Html
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>
        Профессионально отбираю одеяло по ночам,
        разгадываю японские кроссворды,
        пеку ватрушки, собираюсь как турбовеник,
        пою колыбельные и не только,
        ориентируюсь на местности, если эта местность — моя квартира,
        отличаю левый носок от правого,
        мучаю мужа, что же я такого умею, чтобы сюда написать :)
      </p>
    </article>
  </div>
{% endblock %}