{% extends "includes/base_form.html" %}

{% block title %}Сброс пароля{% endblock %}
{% block card_header %}
  Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались
{% endblock %}
{% block card_body %}
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      {% include 'users/includes/password_form_field.html' %}
    {% endfor %}
    {% block button %}
      {% include 'includes/buttons.html' with button_text='Сбросить пароль' %}
    {% endblock %}
  </form>
{% endblock %}