{% extends "includes/base_form.html" %}

{% block title %}Новый пароль{% endblock %}

{% block card_header %}
  {% if validlink %}
    Введите новый пароль
  {% else %}
    Ошибка
  {% endif %}
{% endblock %}

{% block card_body %}
  {% if validlink %}
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        {% include 'users/includes/password_form_field.html' %}
      {% endfor %}
      {% block button %}
        {% include 'includes/buttons.html' with button_text="Назначить новый пароль" %}
      {% endblock %}
    </form>
  {% else %}
    <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
  {% endif %}
{% endblock %}